body {
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
}

.logo {
    margin: 25px;
}

.main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-hero {
    margin: 30px;
}

.hero-section {
    margin: 30px;
    margin-left: 0;
    padding: 10px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border-radius: 28px;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    color: #674baf;
    font-size: 16px;
    background: #fff;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
}

.favicons{
    margin-left: 85%;
    padding: 10px;
}

i {
    padding: 10px;
}

.attribution {
    display: flex;
    justify-content: center;
 }

button:hover {
    cursor: pointer;
    animation-name: background-color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes background-color {
    100% {
        background-color: #ff0066;
        color: white;
    }
}

/******Mobile*****/

@media screen and (min-width: 375px) and (max-width: 992px) {

    .main {
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    }

    .img-hero {
        width: 70vh;
        margin: auto;
    }

    .hero-section {
        text-align: center;
        margin: 30px;
    }

    h1 {
        font-size: 35px;
    }
    .favicons{
        margin-left: 32.5%;
    }
    
}

.attribution { font-size: 11px; color: white; }
.attribution a { color: white; text-decoration: none; }
